/* == FOOTER == */

footer {
  z-index: 90;
  margin: 0;
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer p {
  /* margin-bottom: 0.5em; */
  color: var(--secondary-clr);
  font-size: 0.6rem;
  font-weight: 700;
}
footer a {
  color: black;
  font-weight: 700;
}
