@import url("/style.css");

/* === TYPOGRAPHY === */

.contact__title {
  font-size: 2rem;
  margin: 0.5em 0;
}

/* === LAYOUT === */

.intro__content {
  width: 90%;
  margin: auto;
  margin-top: 0;
}
.contact-1 img {
  max-width: 100%;
  margin-bottom: 1em;
  border: 0.625em solid #e9f1f7;
}

/* === FORM === */

.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.form input {
  width: 100%;
  height: 100%;
  font-size: var(--fs-b);
  padding: 0.625em;
  margin-bottom: 1.875em;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
}

.form textarea {
  resize: none;
  height: 100%;
  padding: 0.625em 0;
  margin-bottom: 2.5em;
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.form input,
.form textarea {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 0.0625em solid #000;
}

button {
  border-bottom: none;
  cursor: pointer;
  background: rgb(255, 20, 86);
  color: #e9f1f7;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.9375em 0;
  width: 100%;
  outline: none;
  border: 0;
}

button:hover {
  cursor: pointer;
  pointer-events: auto;
}

.name,
.email,
.subject,
.message {
  position: relative;
}

.form__label {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0.625em;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: rgb(255, 20, 86);
  transition: 0.5s;
  pointer-events: none;
}

.form input:focus ~ label,
.form textarea:focus ~ label,
.form input:valid ~ label,
.form textarea:valid ~ label {
  top: -0.75em;
  left: 0;
  font-size: 0.75em;
  font-weight: 500;
  font-style: italic;
}

.form input:focus,
.form textarea:focus,
.form input:valid,
.form textarea:valid {
  border-bottom: 0.0625em solid rgb(255, 20, 86);
}

/* === ICONS === */

.contact__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.contact__list-link a {
  width: 100%;
  justify-items: center;
  align-items: center;
  color: rgb(66, 151, 123);
  font-size: 2em;
  padding: 0 1em;
  margin: 1em auto;
  text-shadow: 1px 1px #e9f1f7;
}

.fa:hover {
  color: rgb(255, 20, 86);
  cursor: pointer;
}

/* === MEDIA QUERIES === */

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .title {
    margin-top: 1.5em;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 6rem;
    margin-top: 0.5em;
  }
}

@media (max-width: 500px) {
  .contact__list a {
    font-size: 1.5em;
    padding: 0 1em;
    margin: 1em auto;
  }

  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }

  .page__title,
  .info__title {
    text-align: center;
  }

  .language__list,
  .language__list-htmlCss,
  .language__list-js {
    justify-content: center;
  }
  .language__list i {
    padding: 0 0.5em 0.5em 0;
    font-size: 2.5rem;
    justify-content: space-evenly;
  }
}
