@import url("/style.css");

/* ===== HERO ===== */

.hero {
  position: relative;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align-last: center;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__video video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.hero__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(250, 112, 154, 0.5),
    rgba(254, 225, 64, 0.5)
  );
  z-index: 1;
}
.hero__content {
  z-index: 2;
  min-width: 22.5em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.hero__logo {
  width: 100%;
  font-size: 12vw;
}

.hero__description {
  width: 100%;
  font-size: 4vw;
  color: rgb(0, 0, 0);
  margin-bottom: 1.5em;
}

.hero-btn {
  text-align: center;
  color: var(--primary-clr);
  padding: 1em 2em;
  margin: auto;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.3em;
  border: var(--secondary-clr) solid;
  border-width: 0.2em;
  max-width: 50vw;
}

.hero-btn:hover {
  transform: scale(0.95);
  border: var(--tertiary-clr) solid;
  border-width: 0.2em;
  transition: 0.07s ease-in-out;
}

/* @media (max-width: 860px) {
  .hero-btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 1.5em;
    max-width: 50%;
    width: 100%;
  } */
}
