@import url("/style.css");

/* === TYPOGRAPHY === */
.info__title {
  margin-bottom: 0.5em;
}

/* === LAYOUT === */

.intro__content img {
  max-width: 100%;
  margin: auto;
  margin-bottom: 1em;
  border: 0.625em solid;
  border-color: var(--primary-clr);
}

/* === Skills Section === */

.language__list {
  width: 100%;
  display: flex;
  margin-top: 1em;
  font-size: 1.5rem;
}

/* === ICONS === */

.language__list,
.language__list-htmlCss,
.language__list-js {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.language__list i {
  padding: 0 0.5em 0.5em 0;
  font-size: 3rem;
  justify-content: space-evenly;
  color: rgb(45, 253, 185);
  text-shadow: 1px 1px #e9f1f7;
}

/* === Download btn === */

.download__cv {
  color: #e9f1f7;
  display: flex;
  width: 100%;
  background-color: rgb(255, 20, 86);
  padding: 1em;
  border: 1px solid rgb(255, 20, 86);
  margin: 1em auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: var(--fw-l);
  letter-spacing: 0.0625em;
}

/* === MEDIA QUERIES === */

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .title {
    margin-top: 1.5em;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 6rem;
    margin-top: 0.5em;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }

  .page__title,
  .info__title {
    text-align: center;
  }

  .language__list,
  .language__list-htmlCss,
  .language__list-js {
    justify-content: center;
  }
  .language__list i {
    padding: 0 0.5em 0.5em 0;
    font-size: 2.5rem;
    justify-content: space-evenly;
  }
}
