@import url("/style.css");

/* Background gradient */
/* background: linear-gradient(-45deg, #f321d7, #ffec61);
background: linear-gradient(-45deg, #24ff72, #9a4eff); */

.title h2 {
  text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
}
.portfolio__intro {
  width: 90%;
  margin: auto;
}

.portfolio__grid {
  width: 90%;
  margin: auto;
}

.card-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.card {
  display: grid;
  position: relative;
  grid-template-columns: 300px;
  grid-template-rows: 220px 100px 100px;
  grid-template-areas: "image" "text" "link";
  border-radius: 18px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
  cursor: pointer;
  margin: 1.2rem 0;
  transition: 0.5s ease;
}

.card .card__image {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.card:nth-child(2) {
  background: linear-gradient(-45deg, #f321d7, #ffec61);
}
.card:nth-child(3) {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.card__title {
  font-size: 2rem;
  color: black;
  margin-top: 0;
}
.card > p {
  font-size: 0.9375em;
  color: var(--primary-clr);
  margin-top: 0.3em;
}

.card__link:hover {
  transform: scale(1.05);
}

.link::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.portfolio-btn {
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}
.hero-btn {
  text-align: center;
  color: var(--primary-clr);
  padding: 1em 2em;
  margin: auto;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.3em;
  border: var(--secondary-clr) solid;
  border-width: 0.2em;
  max-width: 50vw;
}

.hero-btn:hover {
  transform: scale(0.95);
  border: var(--tertiary-clr) solid;
  border-width: 0.2em;
  transition: 0.07s ease-in-out;
}

/*  === Media Query === */
@media (max-width: 1000px) {
  .title {
    margin-top: 1.5em;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 6rem;
    margin-top: 0.5em;
  }
}

@media (max-width: 555px) {
  .page__title,
  .info__title {
    text-align: center;
  }
  .portfolio__intro > p {
    text-align: center;
  }

  .card-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin: 2rem;
  }
}
