@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap");

/* ****************************************************** */
/* VARIABLES */
:root {
  --ff-primary: "Montserrat";

  --primary-clr: rgb(233, 241, 247);
  --secondary-clr: rgb(45, 253, 185);
  --tertiary-clr: rgb(255, 20, 86);

  /* font-weight p */
  --fw-st: 400;
  --fw-m: 500;
  --fw-l: 900;

  /* font-size */
  --fs-b: 1.2em;
  --fs-h1: 12vw;
  --fs-h2: 7.786vw;
  --fs-h3: 3.9vw;

  --bp: 1em solid;
  --b-clr: var(--primary-clr);
}
/* ****************************************************** */
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  height: 100%;
  background-color: var(--primary-clr);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-b);
  font-weight: var(--fw-m);
  line-height: 1.15;
  min-height: 100%;
  height: 100vh;
  min-width: 360px;
  overflow-x: hidden;
}

/* ==== TYPOGRAPHY ==== */

a {
  text-decoration: none;
}
ul {
  z-index: 1;
  list-style-type: none;
  padding: 0.5em;
  margin: 0 2em;
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--primary-clr);
  font-weight: var(--fw-l);
  font-size: var(--fs-h1);
}

h2 {
  color: var(--primary-clr);
  font-size: var(--fs-h2);
  font-weight: var(--fw-l);
}

h3 {
  color: var(--primary-clr);
  font-size: var(--fs-h3);
}

p {
  font-size: --var(--fs-b);
}

/* ===== LAYOUT =====*/
/* Global layout */

.ctnr {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    rgba(250, 112, 154, 0.5),
    rgba(254, 225, 64, 0.5)
  );
  border: 1em solid;
  border-color: var(--primary-clr);
  min-height: 100vh;
}

.wrapper {
  max-width: 100%;
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
  margin: auto;
  margin-top: 0;
}

.title {
  max-width: 90%;
  width: 100%;
  margin: 2.9% auto 0;
}
