@import url("/style.css");

/* === TYPOGRAPHY === */

.contact__title {
  font-size: 1.5rem;
}

/* === FORM === */

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intro_title {
  display: flex;
  flex-direction: row;
}

.form input {
  width: 100%;
  height: 100%;
  font-size: var(--fs-b);
  padding: 0.625em;
  margin-bottom: 1.875em;
  border: none;
  background-color: transparent;
  outline: none;
}

.form textarea {
  height: 5em;
  padding: 0.625em 0;
  margin-bottom: 2.5em;
}

.form input,
.form textarea {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: transparent;
  /* border-bottom: 2px solid rgb(255, 20, 86); */
  border-bottom: 0.0625em solid #000;
}

.form textarea {
  margin-bottom: 2.5em;
}

.form-btn input[type="submit"] {
  border-bottom: none;
  cursor: pointer;
  background: rgb(255, 20, 86);
  color: #e9f1f7;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.9375em 0;
}

.name,
.email,
.subject,
.message {
  position: relative;
}

.form__label {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0.625em;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: rgb(255, 20, 86);
  transition: 0.5s;
  pointer-events: none;
  /* border-bottom: 2px solid yellow; */
}

.form input:focus ~ label,
.form textarea:focus ~ label,
.form input:valid ~ label,
.form textarea:valid ~ label {
  top: -0.75em;
  left: 0;
  font-size: 0.75em;
  font-weight: 500;
  font-style: italic;
}

.form input:focus,
.form textarea:focus,
.form input:valid,
.form textarea:valid {
  border-bottom: 0.0625em solid rgb(255, 20, 86);
}

/* === ICONS === */
a .fa {
  color: rgb(45, 253, 185);
  font-size: 2em;
  text-shadow: 1px 1px #fff;
}

.fa:hover {
  color: rgb(255, 20, 86);
}

/* === Media Query === */

/* === Mobile */
